@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-moss-primary: #345800;
  --color-linen-bkg: #f0efe3;
  --color-golden-accent: #e2b046;
}

@font-face {
  font-family: "AvenirLtNextPro";
  src: url("assets/fonts/avenirLtPro.otf") format("opentype");
}

@font-face {
  font-family: "AvenirLtNextPro";
  src: url("assets/fonts/avenirLtProItalic.otf") format("opentype");
  font-style: italic;
}

* {
  font-family: AvenirLtNextPro, Helvetica, Arial, sans-serif;
}

@layer components {
  .media-icon {
    @apply text-moss-primary border-golden-accent border-2 hover:border-moss-primary bg-white rounded-full h-16 w-16 m-1;
  }
}

#root {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: rgb(52, 88, 0);
  text-decoration: inherit;
}

h1,
h2,
h3 {
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-content: center;
}

h2 {
  display: block;
  font-size: 1.25em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}

/* Scoping list styles to the main content area to avoid affecting the footer */
main ul,
main li {
  list-style-type: disc;
  text-align: left;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

p {
  color: black;
  text-align: left;

  @media (max-width: 767px) {
    margin-left: 2em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0efe3;
  }
  a:hover {
    color: #747bff;
  }
}
